html, body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  margin: 0%;
  padding: 0%;
}

ul {
  list-style-type: none;
}

.header {
  background-color: white;
  
  max-width: 200%;
  display: flex;
  flex-direction: column;
  height: 100%;
  position: relative ;
}

.headimg {
  min-width: 100%;
  max-height: 40%;
  left-margin: 0%;
  position: absolute;
  top: 0;
  left: 0;
}

.name {
  min-width: 50%;
  left-margin: 50%;
  position: absolute;
  top: 5%;
  left: 10%;
  color: white;
  font-size:40px;
  font-family: Arial, Helvetica;
}

.wrapper {
  background-color: white;
  max-width: 200%;
  display: flex;
  flex-direction: column;
  height: 100%;
  margin-top: 30%;
}

.bar{
background-color: white;
min-width: 100%;
  left-margin: 0%;
  position: absolute;
  top: 10%;
  left: 0%;
}

.main {
  background-color: white;
  max-width: 200%;
  display: flex;
  flex-direction: row;
  height: 100%;
}

.sidebar {
  background-color: white;
  
  margin-left: 5%;
  margin-top: 10%;
  margin-right: 1-%;
  min-width: 25%;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.meimg {
  margin-top: 20%;
  margin-left: 30%;
  margin-bottom: 0%;
  border-radius: 50%;
  justify-content: center;
}

.school {
  margin-left: 15%;
  margin-top: 10%;
  margin-bottom:0%;
  color: black;
  font-size:15px;
  font-family: Arial, Helvetica;
  text-align: center;
}

.links {
  list-style-type: none;
  margin-left: -30%;
  margin-top: -20%;
  color: black;
  font-size:20px;
  font-family: Arial, Helvetica;
  text-align: center;
}

.center {
  background-color: white;
  margin: 0%;
  align-items: center;
  justify-content: center;
}

.bio {
  max-width: 90%;
  align-items: center;
  margin-top: 50%;
  font-size:23px;
  font-family: Arial, Helvetica;
}

.papers {
  max-width: 80%;
  align-items: center;
  margin-top: 50px;
  font-size:16px;
  font-family: Arial, Helvetica;
}
