<code>

html, body {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 481px;
}

ul {
  list-style-type: none;
}


.headimg {
  min-width: 100%;
  max-height: 40%;
  left-margin: 0%;
  position: absolute;
  top: 0;
  left: 0;
}

.name {
  position: absolute;
  top: 5%;
  left: 5%;
  color: white;
  font-size:40px;
  font-family: Arial, Helvetica;
}

.wrapper {
  background-color: blue;
  max-width: 200%;
  display: flex;
  flex-direction: column;
  height: 100%;
  margin-top: 18%;
}

.main {
  background-color: white;
  max-width: 200%;
  display: flex;
  flex-direction: row;
  height: 80%;
}

.sidebar {
  background-color: white;
  margin-left: 0%;
  margin-top: 0%;
  margin-right: 0%;
  min-width: 25%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.meimg {
  margin-top: -80%;
  margin-left: 10%;
  margin-bottom: 0%;
  border-radius: 50%;
  justify-content: center;
}

.school {
  margin-left: 0%;
  margin-top: 0%;
  margin-bottom:0%;
  color: black;
  font-size:15px;
  font-family: Arial, Helvetica;
  text-align: center;
}

.links {
  list-style-type: none;
  margin-left: -12%;
  margin-top: -5%;
  color: black;
  font-size:20px;
  font-family: Arial, Helvetica;
  text-align: center;
}

.center {
  background-color: white;
  margin: 0%;
  align-items: center;
  justify-content: center;
}

.bio {
  max-width: 90%;
  align-items: center;
  margin-left: 5%;
  margin-top: 5%;
  font-size:23px;
  font-family: Arial, Helvetica;
}

.papers {
  max-width: 80%;
  align-items: center;
  margin-top: 5%;
  margin-left: 5%; 
  font-size:16px;
  font-family: Arial, Helvetica;
}

}

</code>
